.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;
}
.card {
  max-width: 500px;
  text-align: center;
  padding-bottom: 20px;
}
.title {
  margin: 0;
}
.input {
  width: 450px;
  margin-bottom: 10px;
}

.textfield {
  margin-top: 10px;
  margin: 5px;
}
.btnSubmit {
  margin: 10px 0;
}
.errConfirm {
  text-align: start;
  color: #ff0000;
}
