.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: max-content;
}
.card {
  max-width: 1000px;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}
.title {
  margin: 0;
}
.input {
  width: 450px;
  margin-bottom: 10px;
}

.textfield {
  max-width: 200px;
  margin-top: 10px;
  margin: 5px;
}
.btnSubmit {
  margin-top: 25px;
}
.errConfirm {
  margin: 0;
  font-size: 12px;
  text-align: start;
  color: #ff0000;
}

.img {
  max-width: 470px;
}
