.wrapper {
  margin: 0 13%;
}

.debug {
  border: 1px solid red;
}

.img {
  width: 100%;
  height: auto;
}

.btnTryNow {
  background-color: #fcca57;
  text-transform: none;
  font-size: 18px;
}

.tryNow {
  text-decoration: none;
}

.btnTryNow:hover {
  background-color: #fdd16b;
}
